/* здесь используйте глобальные переменные */
$font: "Montserrat", sans-serif;

$black: #000000;
$white: #ffffff;
$light-black: #333333;
$flat-white: #f3ebe1;
$primary: #7859cf;
$primary-light: #9070ec;
$primary-dark: #593cac;
$gray-dark: #e2e2e2;
$gray-light: #f8f8f8;
$gray: #bdbdbd;
$secondary: #f0ebff;
$lavender-latte: #eae6fc;
$esspresso: #e5e6e8;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
