.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  color: $gray;
  padding: 20px 57px 30px;
  letter-spacing: -0.02em;
  cursor: pointer;
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $primary-dark;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.developer__text + .developer__text {
  margin-right: 3px;
}
