.page {
  min-width: 320px;
  height: 100%;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  color: $light-black;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
