.site-menu {
  display: none;
  border-top: 1px solid $secondary;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    border: none;
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
  }

  @media (min-width: $desktop-width) {
    max-width: 460px;
    margin-left: 0;
    gap: 22px;
  }
}

.site-menu__item {
  border-bottom: 1px solid $secondary;
  background-color: $white;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-menu__link {
  padding: 20px;
  display: block;
  margin: 0 auto;
  color: $light-black;
  text-align: center;
  font-family: $font;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $primary;
  }

  &:active {
    background-color: $secondary;
  }


  &:focus {
    outline: 1px solid $primary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 19px;
  }
}

.site-menu__item--active .site-menu__link {
  @media (min-width: $tablet-width) {
    color: $primary;
    padding-bottom: 30px;
    border-bottom: 2px solid $primary;
  }
}

.main-nav--nojs .site-menu {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    display: flex;
  }
}

.main-nav--opened .site-menu {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    right: auto;
    left: auto;
    display: flex;
  }
}

.main-nav--closed .site-menu {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
