.sorting {
  padding: 0 17px 16px 23px;
  display: grid;
  grid-template-columns: 107px 165px;
  gap: 8px;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 10px;
    padding: 0;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}

.sorting__heading {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.sorting__select {
  position: relative;
  padding: 4px 30px 4px 10px;
  border: none;
  background-color: inherit;
  appearance: none;
  background-image: url("../../images/select-sign.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: right 10px center;
  font-family: $font;
  color: $primary;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
