.user-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 180px;
  justify-content: end;

  @media (min-width: $desktop-width) {
    gap: 20px;
    max-width: 280px;
  }
}

.user-menu__link {
  display: block;
  padding: 22px;
  color: $light-black;
  font-family: $font;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $primary;
    background-color: $secondary;
  }

  &:focus {
    outline: 1px solid $primary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px;
    display: grid;
    grid-template-columns: max-content min-content;
    gap: 8px;
    align-items: center;
  }
}

.user-menu__image {
  display: block;

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
  }
}

.user-menu__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 2/3;
  }
}

.user-menu__item--toggler {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
